/* Definições Gerais */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
}

.menu a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  transition: color 0.3s ease;
}

.highlight{
  text-decoration: underline;
}


.login-button {
  min-width: 120px;
  position: relative;
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.login-button::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.login-button:hover {
  color: rgb(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1) translateY(-3px);
}

.login-button:hover::before {
  opacity: 1;
}

.nav-items:hover{
  color: gray
}

.hero {
  min-height: 80vh;
  position: relative;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

#box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 1s ease;
}

.hero-text {
  margin-top: 20vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50vw;
  cursor: default;
}


.hero h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-align: start;
}

.hero p {
  font-size: 1.1rem;
  text-align: start;
  color: lightgray;
}

.button-start {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}


.button-start .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #E0E0E0;
  border-radius: 1.625rem;
}

.button-start .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #282936;
}

.button-start .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button-start .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #282936;
  border-right: 0.125rem solid #282936;
  transform: rotate(45deg);
}

.button-start .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #E0E0E0;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button-start:hover .circle {
  width: 100%;
  background: #0081cf;
}

.button-start:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.button-start:hover .circle .icon.arrow::before {
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
}

.button-start:hover .button-text {
  color: #fff;
}

.features-container{
  display: flex;
  padding: 12vw 15vh;
  justify-content: space-between;
  background-color: #0D0D0D;
  color: #fff;
}

.feature-h1{
  text-align: start;
}
.features-title p{
  text-align: start;
  font-size: 12px;
}

.feature-cards{
  background-color: #191919;
  border-radius: 10px;
  padding: 20px;
}


.mini-title{
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  color: gray;
  text-transform: uppercase;
  gap: 10px;
}

.feature-card-title{
  text-align: start;
  font-size: 12px;
}

.card-image{
  width: 32px;
  height: 32px;
}

@media (prefers-reduced-motion: reduce) {
  .login-button {
    transition: linear;
  }
}
