.card-despesas-mes {
    background: #252525;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    width: 180px;
    height: 140px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.card-icon-despesas-mes {
    color: #DC143C;
    font-size: 40px;
}

.card-title-despesas-mes {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}

.card-description-despesas-mes,
.card-total-despesas-mes {
    font-size: 0.8rem;
    margin-top: 2px;
}
