.features-container {
  display: flex;
  flex-wrap: wrap;
  padding: 12vw 10vw;
  justify-content: center;
  background-color: #0D0D0D;
  color: #fff;
  gap: 20px;
  text-align: start;
}

.feature-h1 {
  text-align: start;
}

.features-title p {
  text-align: start;
  font-size: 16px;
}

.feature-cards {
  background-color: #191919;
  border-radius: 10px;
  padding: 20px;
  max-width: 350px;
  width: 100%;
}

.mini-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  color: gray;
  text-transform: uppercase;
  gap: 10px;
}

.feature-card-title {
  text-align: start;
  font-size: 12px;
}

.card-image {
  width: 32px;
  height: 32px;
}

.feature-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  max-width: 800px;
}

.feature-text {
  border-bottom: solid 1px #fff;
}

.sobre-content p {
  max-width: 90%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

@media (min-width: 768px) {
  .features-container {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .feature-h1, .features-title p {
    text-align: start;
  }
  .feature-cards-container {
    justify-content: flex-start;
  }
}
