.card-resumo {
  margin-top: 20px;
  background: #191919;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 400px;
  max-width: 100%;
}

/* Top Row */
.top-row {
  display: flex;
  gap: 20px;
}

/* Bottom Row */
.bottom-row {
  display: flex;
  justify-content: center;
}

/* Card items */
.card-resumo .card {
  width: 100%;
  max-width: 180px;
}

.card-resumo .card-assinaturas {
  width: 100%;
  max-width: 100%;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .card-resumo {
    width: 100%; /* Faz o card ocupar toda a largura da tela */
    height: 100%; /* Permite que o card ajuste sua altura */
    padding: 10px;
  }

  .top-row {
    flex-direction: column; /* Empilha os itens na coluna */
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .bottom-row {
    justify-content: flex-start; /* Alinha os itens à esquerda */
  }

  .card-resumo .card {
    max-width: 100%; /* Faz os cards ocuparem toda a largura disponível */
    margin-bottom: 10px; /* Dá um espaço entre os cards */
  }

  .card-resumo .card-assinatura {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .card-resumo {
    padding: 8px;
  }

  .top-row {
    gap: 5px; /* Menor espaço entre os itens */
  }

  .card-resumo .card {
    max-width: 100%; /* Cards ocupando 100% da largura */
    margin-bottom: 8px;
  }
  .card-assinatura{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }
}
