.card-resumo {
  margin-top: 20px;
  background: #191919;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 400px;
  max-width: 100%;
}


.top-row {
  display: flex;
  gap: 20px;
}


.bottom-row {
  display: flex;
  justify-content: center;
}


.card-resumo .card {
  width: 100%;
  max-width: 180px;
}

.card-resumo .card-assinaturas {
  width: 100%;
  max-width: 100%;
}


@media (max-width: 768px) {
  .card-resumo {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .top-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .bottom-row {
    justify-content: flex-start;
  }

  .card-resumo .card {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .card-resumo .card-assinatura {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .card-resumo {
    padding: 8px;
  }

  .top-row {
    gap: 5px;
  }

  .card-resumo .card {
    max-width: 100%;
    margin-bottom: 8px;
  }
  .card-assinatura{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }
}
