.hero {
  min-height: 80vh;
  position: relative;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

#box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 1s ease;
}

.hero-text {
  margin-top: 20vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50vw;
  cursor: default;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-align: start;
}

.hero p {
  font-size: 1.1rem;
  text-align: start;
  color: lightgray;
}

.button-start {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}

.button-start .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #E0E0E0;
  border-radius: 1.625rem;
}

.button-start .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #282936;
}

.button-start .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button-start .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #282936;
  border-right: 0.125rem solid #282936;
  transform: rotate(45deg);
}

.button-start .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #E0E0E0;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button-start:hover .circle {
  width: 100%;
  background: #0081cf;
}

.button-start:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.button-start:hover .circle .icon.arrow::before {
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
}

.button-start:hover .button-text {
  color: #fff;
}

.highlight {
  text-decoration: underline;
}


@media (max-width: 1200px) {
  .hero-text {
      margin-left: 5vw;
      max-width: 60vw;
  }

  .hero h1 {
      font-size: 2.5rem;
  }

  .hero p {
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero {
      min-height: 30vh;
      padding: 80px 15px;
  }

  .hero-text {
      margin-top: 10vh;
      margin-left: 5vw;
      max-width: 70vw;
  }

  .hero h1 {
      font-size: 2rem;
  }

  .hero p {
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .hero {
      min-height: 60vh;
      padding: 60px 10px;
  }

  .hero-text {
      margin-top: 15vh;
      margin-left: 5vw;
      max-width: 80vw;
  }

  .hero h1 {
      font-size: 1.5rem;
  }

  .hero p {
      font-size: 0.8rem;
  }
}