.radar-card {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: start;
  width: 14vw; /* Largura ajustável conforme a tela */
  height: 20vh; /* Altura ajustável conforme a tela */
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 1px solid transparent;
}

.radar-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(138, 43, 226, 0.5), transparent);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px;
}

.radar-card:hover {
  border: 1px solid rgba(138, 43, 226, 0.8);
}

.radar-card:hover::before {
  opacity: 1;
}

.radar-card-content {
  width: 100%;
  height: 100%; /* O conteúdo ocupará toda a altura do card */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading {
  font-size: 14px;
  color: #666;
}
