.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
  }
  
  .register-card {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 350px;
    color: #fff;
    border: solid 1px #fff;
    backdrop-filter: blur(10px);
  }
  
  .register-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .register-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .register-form {
    margin-top: 4vh;
    width: 100%;
  }
  
  .register-input {
    background-color: #252525;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  .register-button {
    font-family: "Ubuntu", sans-serif;
    margin-top: 3vh;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in 0.1s;
  }
  
  .register-button:hover {
    background-color: #cfcfcf;
  }
  
  .register-footer {
    margin-top: 1rem;
  }
  
  .register-link {
    text-decoration: none;
    color: rgb(40, 144, 241);
    transition: ease-in 0.2s;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 480px) {
    .register-card {
      padding: 1.5rem;
      width: 90%;
    }
  
    .register-logo {
      font-size: 1.2rem;
    }
  
    .register-title {
      font-size: 1.5rem;
    }
  
    .register-button {
      padding: 12px;
    }
  }
  