.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar.collapsed {
    width: 70px;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .menu-sidebar {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #222;
  }
  
  .sidebar.collapsed .sidebar-text {
    display: none;
  }
  