/* Sidebar */
.sidebar {
  width: 250px;
  min-height: 100vh; /* Garante que a sidebar ocupe toda a altura da tela */
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  transition: width 0.3s ease-in-out;
  position: relative;
  justify-content: flex-start;
}

.sidebar.collapsed {
  width: 70px;
  padding: 0 10px;
}

.toggle-btn {
  margin-top: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  align-self: flex-start;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Garante que o conteúdo da sidebar ocupe o espaço disponível */
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha os itens verticalmente */
  align-items: center; /* Alinha os itens horizontalmente */
}

.menu-logout {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar Item */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
  border-radius: 8px;
  justify-content: center; /* Centraliza o conteúdo dentro do item */
}

.sidebar-item:hover {
  background-color: #222;
}

.sidebar.collapsed .sidebar-item span {
  display: none;
}

@media (max-width: 480px) {
  .sidebar {
    width: 60px; /* Sidebar mais estreita */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na sidebar */
    padding: 10px 0;
    min-height: 100vh; /* Garantir que a sidebar ocupe toda a altura da tela */
  }

  .menu-sidebar {
    display: flex;
    flex-direction: column; /* Mantém os itens empilhados */
    align-items: center; /* Garante alinhamento central */
    gap: 10px; /* Espaço entre os itens */
    width: 100%;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza tudo */
    width: 100%;
  }

  .menu-logout {
    margin-top: auto; /* Empurra para a parte inferior */
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sidebar-item {
    display: flex;
    justify-content: center; /* Alinha os ícones horizontalmente */
    align-items: center; /* Alinha verticalmente */
    width: 50px; /* Mantém um tamanho uniforme */
    height: 50px;
    border-radius: 8px;
  }
}
